/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#FFF8F0;
}

/* NAVBAR */

.navbar{

    position:fixed;

    top:0;
    left:0;

    width:100%;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:15px 40px;

    background:transparent;

    z-index:1000;
}

.logo{

    display:flex;
    align-items:center;
    gap:10px;
}

.logo img{

    width:55px;
    height:55px;

    border-radius:50%;

    background:white;
    padding:3px;
}

.logo span{

    color:white;

    font-size:24px;

    font-weight:bold;

    text-shadow:2px 2px 5px rgba(0,0,0,.5);
}

.navbar ul{

    display:flex;
    gap:25px;

    list-style:none;
}

.navbar a{

    color:white;

    text-decoration:none;

    font-weight:bold;

    text-shadow:2px 2px 5px rgba(0,0,0,.5);

    transition:.3s;
}

.navbar a:hover{

    color:#FFD6E0;
}

/* HERO */

.hero{

    min-height:100vh;

    background:
    linear-gradient(
        rgba(248,184,201,.15),
        rgba(255,244,230,.10)
    ),
    url('../multimedial/local-noche.jpeg');

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
}

.hero-overlay{

    max-width:800px;

    padding:30px;
}

.hero-logo{

    width:180px;
    height:180px;

    border-radius:50%;

    background:white;

    padding:8px;

    box-shadow:0 10px 25px rgba(0,0,0,.25);

    margin-bottom:20px;
}

.hero h1{

    color:white;

    font-size:4rem;

    text-shadow:3px 3px 10px rgba(0,0,0,.5);

    margin-bottom:10px;
}

.hero h2{

    color:white;

    font-size:1.8rem;

    text-shadow:3px 3px 10px rgba(0,0,0,.5);

    margin-bottom:20px;
}

.hero p{

    color:white;

    font-size:1.1rem;

    text-shadow:3px 3px 10px rgba(0,0,0,.5);

    margin-bottom:30px;
}

/* BOTONES */

.hero-botones{

    display:flex;

    justify-content:center;

    gap:15px;

    flex-wrap:wrap;
}

.btn-principal{

    background:#E96A8D;

    color:white;

    text-decoration:none;

    padding:15px 30px;

    border-radius:30px;

    font-weight:bold;
}

.btn-whatsapp{

    background:#25D366;

    color:white;

    text-decoration:none;

    padding:15px 30px;

    border-radius:30px;

    font-weight:bold;
}

/* WHATSAPP FLOTANTE */

.whatsapp-float{

    position:fixed;

    bottom:20px;
    right:20px;

    width:70px;
    height:70px;

    background:#25D366;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    text-decoration:none;

    font-size:30px;

    box-shadow:0 5px 20px rgba(0,0,0,.3);

    z-index:9999;
}

.titulo-seccion{

    text-align:center;

    color:#E91E63;

    font-family:'Pacifico', cursive;

    font-size:3rem;

    margin-bottom:15px;
}

.subtitulo{
    text-align:center;
    margin-bottom:40px;

    color:#E75480;
    font-size:1.4rem;
    font-family:'Comic Sans MS', cursive;
    font-weight:bold;

    text-shadow:1px 1px 3px rgba(255,255,255,0.8);
}

.categoria{

    margin-top:40px;
    margin-bottom:20px;

    color:#FF2D75;

    font-family:'Pacifico', cursive;

    font-size:2rem;

    text-shadow:2px 2px 4px rgba(0,0,0,.10);
}

.footer{
    text-align:center;
    padding:30px;
    background:#F8B8C9;
    margin-top:50px;
}
body{
    background:#FFF8F0 !important;
}

.contenedor{
    padding:80px 20px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.card{

    background:white;

    border-radius:20px;

    padding:20px;

    text-align:center;

    box-shadow:0 5px 15px rgba(0,0,0,.10);

    transition:.3s;
}

.card:hover{

    transform:translateY(-5px);
}

.card{

    color:#FF4081;

    font-family:'Pacifico', cursive;

    font-size:1.3rem;
}
.navbar{
    background:#E96A8D;
}
/* HERO CAFETERIA */

.hero-cafeteria{

    height:350px;

    background:
    linear-gradient(
        rgba(0,0,0,.35),
        rgba(0,0,0,.35)
    ),
    url('../multimedial/cafeteria.jpeg');

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
}

.hero-cafeteria h1{

    color:white;

    font-size:4rem;

    text-shadow:3px 3px 10px rgba(0,0,0,.5);
}
/* POSTRES */

.hero-postres{

    height:350px;

    background:
    linear-gradient(
        rgba(0,0,0,.35),
        rgba(0,0,0,.35)
    ),
    url('../multimedial/tortaHelada.jpeg');

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
}

.hero-postres h1{

    color:white;

    font-size:4rem;

    text-shadow:3px 3px 10px rgba(0,0,0,.5);
}

.card img{

    width:100%;
    height:250px;

    object-fit:cover;

    border-radius:10px;

    margin-bottom:15px;
}
/* CONTACTO */

.hero-contacto{

    height:350px;

    background:
    linear-gradient(
        rgba(0,0,0,.35),
        rgba(0,0,0,.35)
    ),
    url('../multimedial/local-noche.jpeg');

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
}

.hero-contacto h1{

    color:white;
    font-size:4rem;

    text-shadow:3px 3px 10px rgba(0,0,0,.5);
}

.contacto-box{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:40px;

    margin-top:40px;
}

.info-contacto{

    background:white;

    padding:30px;

    border-radius:20px;

    box-shadow:0 0 15px rgba(0,0,0,.1);
}

.info-contacto h3{

    color:#D94B6A;

    margin-top:15px;
    margin-bottom:5px;
}

.mapa{

    border-radius:20px;

    overflow:hidden;

    box-shadow:0 0 15px rgba(0,0,0,.1);
}

@media(max-width:768px){

    .contacto-box{

        grid-template-columns:1fr;
    }
}
.carta-cafe{

    max-width:700px;

    margin:auto;

    padding:20px;

    text-align:center;
}

.carta-cafe img{

    width:100%;

    height:auto;

    object-fit:contain;

    border-radius:15px;

    display:block;
}

.carta-cafe{

    max-width:900px;

    margin:auto;

    background:white;

    padding:20px;

    border-radius:20px;

    box-shadow:0 5px 20px rgba(0,0,0,.15);
}
.whatsapp-float img{

    width:40px;

    height:40px;
}
.banner-sabores{

    background:
    linear-gradient(
        rgba(255,248,240,.75),
        rgba(255,248,240,.75)
    ),
    url('../multimedial/helado5.jpeg');

    background-size:cover;
    background-position:center;

    padding:80px 20px;

    border-radius:25px;

    margin-bottom:50px;

    text-align:center;
}
.btn-whatsapp{

    display:inline-flex;

    align-items:center;

    justify-content:center;

    gap:10px;

    background:#25D366;

    color:white;

    text-decoration:none;

    padding:15px 25px;

    border-radius:30px;

    font-weight:bold;
}

.btn-whatsapp img{

    width:30px;

    height:30px;
}
.botones-contacto{

    display:flex;

    justify-content:center;

    gap:20px;

    margin-top:30px;

    flex-wrap:wrap;
}

.btn-whatsapp img{

    width:30px;

    height:30px;
}
.btn-mapa{

    display:inline-flex;

    align-items:center;

    justify-content:center;

    gap:10px;

    background:#FF6B9A;

    color:white;

    text-decoration:none;

    padding:15px 25px;

    border-radius:30px;

    font-weight:bold;

    box-shadow:0 4px 10px rgba(0,0,0,.15);

    transition:.3s;
}

.btn-mapa:hover{

    background:#E84C82;

    transform:translateY(-3px);
}
.botones-contacto{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:20px;

    margin-top:30px;

    flex-wrap:wrap;
}

.titulo-home{

    font-family:'Pacifico', cursive;

    color:#E91E63;

    font-size:3rem;

    text-align:center;

    margin-bottom:20px;

    text-shadow:2px 2px 5px rgba(0,0,0,.1);
}

.titulo-info{

    font-family:'Pacifico', cursive;

    color:#E91E63;

    font-size:2.5rem;

    text-align:center;

    margin-bottom:25px;

    text-shadow:2px 2px 5px rgba(0,0,0,.1);
}
.bienvenida{

    background:white;

    padding:40px;

    margin:40px auto;

    border-radius:25px;

    max-width:1000px;

    text-align:center;

    box-shadow:0 5px 20px rgba(0,0,0,.10);
}

.texto-bienvenida{

    font-size:1.2rem;

    color:#5A3825;
}
.info-local{

    background:white;

    padding:40px;

    margin:40px auto;

    border-radius:25px;

    max-width:1000px;

    box-shadow:0 5px 20px rgba(0,0,0,.10);
}